<!DOCTYPE html>

<html>

<title>DRUG REHAB</title>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/home.css">


<body>
    
    <!-- Navbar (sit on top) -->

<div class="w3-top">

  <div class="w3-bar w3-white w3-card" id="myNavbar">

    <a href="/" class="w3-bar-item w3-button w3-wide">DrugRehab</a>

    <!-- Right-sided navbar links -->

    <div class="w3-right w3-hide-small">
        
            <div class="w3-dropdown-hover">
                <button class="w3-button">MENU</button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/addict" class="w3-bar-item w3-button">ADDICTION</a>
                    <a href="/treatment" class="w3-bar-item w3-button">TREATMENT</a>
                    <a href="/aboutUs" class="w3-bar-item w3-button">ABOUT US</a>
                    <a href="/#contact" class="w3-bar-item w3-button">CONTACT US</a>
                </div>
            </div>
            <% if (!currentUser) { %>   
                <a href="/login" class="w3-bar-item w3-button"> LOGIN</a>
            
                <a href="/signIn" class="w3-bar-item w3-button"><i class="fa fa-user"></i> SIGN UP</a>
            <% } else { %>
                <a href="#" class="w3-bar-item w3-button"> Logged In As <%= currentUser.username %> </a>
                <a href="/logout" class="w3-bar-item w3-button"> LOGOUT </a>
            <% } %>
    </div>

    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">

      <i class="fa fa-bars"></i>

    </a>

  </div>

</div>



<!-- Sidebar on small screens when clicking the menu icon -->

<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">

  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>

            <div class="w3-dropdown-hover">
                <button class="w3-button">MENU</button>
               <div class="w3-dropdown-content w3-bar-block w3-card-4">
                   <a href="/addict" class="w3-bar-item w3-button">ADDICTION</a>
                    <a href="/treatment" class="w3-bar-item w3-button">TREATMENT</a>
                    <a href="/aboutUs" class="w3-bar-item w3-button">ABOUT US</a>
                    <a href="/#contact" class="w3-bar-item w3-button">CONTACT US</a>
                </div>
            </div>  
    <% if (!currentUser) { %>   
         <a href="/login" onclick="w3_close()" class="w3-bar-item w3-button">LOGIN</a>

        <a href="/signIn" onclick="w3_close()" class="w3-bar-item w3-button">SIGN UP</a>
    <% } else { %>
        <a href="#" class="w3-bar-item w3-button"> Logged In As <%= currentUser.username %> </a>
        <a href="/logout" class="w3-bar-item w3-button"> LOGOUT</a>
    <% } %>
</nav>