<!DOCTYPE html>

<html>

<title>About Us</title>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/aboutUs.css">

<body>





<!-- First Parallax Image with Logo Text -->

<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">

  <div class="w3-display-middle" style="white-space:nowrap;">

    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">ABOUT US</span>

  </div>

</div>



<!-- Container (About Section) -->

<div class="w3-content w3-container w3-padding-50" id="about">

	<p align="center">

    DrugRehab.com is a web resource provided and funded by Advanced Recovery Systems. Since 2015, the website has provided researched, fact-based resources for free. Readers can learn about risks of various substances, the latest approaches to treatment and real stories of recovery on DrugRehab.com.

  </p>

</div>



<div class="bgimg-1 w3-display-container w3-opacity-min">

</div>

  

<div class="w3-content w3-display=container w3-padding-30" id="about">

	<h1 align="center"> OUR MISSION </h1>

  <p align="center">The mission of DrugRehab.com is to equip people and their families with the best information, resources and tools to overcome addiction and lead a lifelong recovery.</p>

</div>



<!-- Second Parallax Image with Portfolio Text -->

<div class="bgimg-2 w3-display-container w3-opacity-min">

</div>





<!-- Container (Team Section) -->

<div class="w3-content w3-container w3-padding-64" id="portfolio">

  <h3 class="w3-center">WHO ARE WE</h3>

  <p class="w3-center"><em>We are a team of writers, editors and outreach specialists who strive to connect individuals and families affected by addiction with accurate information about substance abuse and co-occurring disorders.</em></p><br>

  <h3 class="w3-center">MEET OUR CONTENT TEAM</h3>

  <hr>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->

  <div class="w3-row-padding w3-center">

    <div class="w3-col m3">

     	<div class="card">

  			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOp--jNBmsQj6naeTKbOsGOPiuCygH99c2kYDeNGwgj9ytHhGi" alt="John" style="width:100%">

 			  <h3>Aditya Patil</h3>

  			<p class="title">CEO & Founder, Example</p>

		  </div>

    </div>

	

    <div class="w3-col m3">

      <div class="card">

  			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOp--jNBmsQj6naeTKbOsGOPiuCygH99c2kYDeNGwgj9ytHhGi" alt="John" style="width:100%">

 			  <h3>Jenell Mathias</h3>

  			<p class="title">CEO & Founder, Example</p>

		  </div>

    </div>



    <div class="w3-col m3">

     	<div class="card">

  			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOp--jNBmsQj6naeTKbOsGOPiuCygH99c2kYDeNGwgj9ytHhGi" alt="John" style="width:100%">

 			  <h3>Lenson Daniel</h3>

  			<p class="title">CEO & Founder, Example</p>

		  </div>

    </div>



    <div class="w3-col m3">

      <div class="card">

  			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOp--jNBmsQj6naeTKbOsGOPiuCygH99c2kYDeNGwgj9ytHhGi" alt="John" style="width:100%">

 			  <h3>Merlin Payapilly</h3>

  			<p class="title">CEO & Founder, Example</p>

		  </div>

    </div>

  </div>



 

</div>





<!-- Third Parallax Image with Portfolio Text -->

<div class="bgimg-3 w3-display-container w3-opacity-min">

</div>



<!-- Container (Change Section) -->

<div class="w3-content w3-container w3-padding-64" id="contact">

  

  <h1 class="w3-center">Ready to make a Change ?</h1>

  <p class="w3-center"><em>Get cost-effective, quality addiction care that truly works.</em></p>

  <p class="w3-center"><a href="#work" class="w3-button w3-grey "><i class="fa fa-th"> </i> Start Your Recovery</a></p>

</div>


<% include partials/footer %>

