<h4>Post ur entry for Marijuana Quiz</h4>
<form action="/add_maQue" method="POST">
    Enter the Question: <input type="text" name="question" placeholder="Enter Question"><br>
    Enter Option 1:<input type="text" name="opt1" placeholder="Enter Option 1"><br>
    Enter Option 2:<input type="text" name="opt2" placeholder="Enter Option 2"><br>
    Enter Option 3:<input type="text" name="opt3" placeholder="Enter Option 3"><br>
    Enter Option 4:<input type="text" name="opt4" placeholder="Enter Option 4"><br>
    Enter Option 5:<input type="text" name="opt5" placeholder="Enter Option 5"><br>
    <button>Submit!</button>
</form>



<form action="/marijuanaq" method="GET">
    <div align = "Center">
        <h5>View all Question !!</h5>
        <input type="submit" value="See Question">
    </div>