<h4>Post ur entry for doctors</h4>

<form action="/adddoctor" method="POST">
    <input type="text" name="name" placeholder="Enter Full Name">
    <input type="text" name="Qualification" placeholder="Enter Qualification">
   
    <input type="text" name="Specialization" placeholder="Enter Specialization">
    <input type="text" name="Skypeid" placeholder="Enter Skype Id">
     <input type="text" name="image" placeholder="Enter image URL">
   
    <button>Submit!</button>
</form>



<form action="/viewdoctor" method="GET">
    <div align = "Center">
        <h5>View all Doctor !!</h5>
        <input type="submit" value="See Doctor">
    </div>
    
