<!DOCTYPE html>

<html lang="en">

<head>

  

  <title>Addiction</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/addict.css">
  
  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/486EF24B-BDC7-4645-AD7E-12D23473474B/main.js" charset="UTF-8"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  


</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">



<nav class="navbar navbar-default navbar-fixed-top">

  <div class="container">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>

      </button>

      <a class="navbar-brand" href="/">DrugRehab</a>

    </div>

    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right">

        <li><a href="#about">ALCOHOL</a></li>

        <li><a href="#services">MARIJUANA</a></li>

        <li><a href="#portfolio">ECSTASY</a></li>

        <li><a href="#pricing">HEROIN</a></li>

        <li><a href="#contact">COCAINE</a></li>

      </ul>

    </div>

  </div>

</nav>



<div class="jumbotron text-center">

  <h1><b>DRUG REHAB</b></h1>

  <p><b>We specialise in providing Rehab Service</b></p>

  <form>

    <div class="input-group">



      <div class="input-group-btn">

       <a href="../" <button type="button" class="btn btn-danger">           <b>Home</b>           </button></a>

      </div>

    </div>

  </form>

</div>



<!-- Container (About Section) -->

<div id="about" class="container-fluid">

  <div class="row">

    <div class="row">

      <h2><center>FINDING THE BEST ALCOHOL REHAB CENTERS & PROGRAMS</center></h2><br>



      <p>A need to drink that can be as strong as the need for food or water. Not being able to stop once drinking has begun. Short-term memory loss. Blackouts, where the user appears to others that he or she is awake and fully conscious – but in reality has no sense of time or action.

These are only some of the early physical effects of alcoholism, a chronic disease (in that it lasts a persons lifetime) that can lead to cirrhosis, liver failure, and ultimately death. Like other diseases, alcoholism usually follows a predictable course. And it has symptoms – such as the physical symptoms cited above. Then there are the damaging effects of alcohol abuse outside the body. Many alcoholics find it difficult to manage their lives, leading to legal problems and relationship problems that can result in the destructive breakup of marriages and families. Unfortunately, such problems often lead to more drinking and even more problems – driving drunk, for example, and the chance of accidentally killing someone.<br><br>

To compound matters, researchers and treatment professionals have identified a strong link between alcoholism and drug addiction. While the perceived benefits of combining alcohol and drugs may play a big part in the high percentage of people who do so, the addictive effects and harmful consequences of both substances increase when they are used together.

Alcoholism has also attracted much attention as an inherited disease, a disease inherent in family genes. Research shows that there is, indeed, a risk of developing alcoholism in some families and not others.<br><br> Research studies are underway to determine the actual genes that lead to the risk of alcoholism. But lifestyle is also a key factor, since the activities of friends, the amount of stress in someone’s life, and the availability of alcohol can also play a significant role in determining one’s risk for alcoholism.But experts caution that risk is not destiny – that even though alcoholism may run in specific families, it doesn’t mean that the child of an alcoholic parent will automatically become an alcoholic. The opposite is true, as well – there are people who become alcoholics even though no one in their family has a drinking problem.

</p>

<div class="col-sm-4">



    </div>

  </div>

</div>





<!-- Container (Services Section) -->

<div id="services" class="container-fluid">

  <div class="row">

    <div class="col-sm-8">

      <h2>FINDING THe BEST MARIJUANA DRUG REHAB CENTERS & PROGRAMS</h2><br>

      <p>Many people view drug abuse and addiction as strictly a social problem. Parents, teens, older adults, and other members of the community tend to characterize people who take drugs as morally weak or as having criminal tendencies. They believe that drug abusers and addicts should be able to stop taking drugs if they are willing to change their behavior.



These myths have not only stereotyped those with drug-related problems, but also their families, their communities, and the health care professionals who work with them. Drug abuse and addiction comprise a public health problem that affects many people and has wide-ranging social consequences. It is NIDA’s goal to help the public replace its myths and long-held mistaken beliefs about drug abuse and addiction with scientific evidence that addiction is a chronic, relapsing, and treatable disease.



Addiction does begin with drug abuse when an individual makes a conscious choice to use drugs, but addiction is not just “a lot of drug use.” Recent scientific research provides overwhelming evidence that not only do drugs interfere with normal brain functioning creating powerful feelings of pleasure, but they also have long-term effects on brain metabolism and activity. At some point, changes occur in the brain that can turn drug abuse into addiction, a chronic, relapsing illness. Those addicted to drugs suffer from a compulsive drug craving and usage and cannot quit by themselves. Treatment is necessary to end this compulsive behavior.</p>





    </div>

    <div class="col-sm-4">

      <div class="containers">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->

          <ol class="carousel-indicators">

            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

            <li data-target="#myCarousel" data-slide-to="1"></li>

            <li data-target="#myCarousel" data-slide-to="2"></li>

          </ol>



          <!-- Wrapper for slides -->

          <div class="carousel-inner",id="one">

            <div class="item active">

              <img  height="412px" src="https://www.thecannabist.co/wp-content/uploads/2016/03/p1-4.jpg" alt="">

            </div>



            <div class="item",id="two">

              <img src="https://api.ning.com/files/3xJoH1LXU0aHilXdVlFkxu124MYbLmMRnxsodgOEGig7gcW*rxDBfBPmHTQoNPJWtSAF5gz6Lv7fCawbPudaoEZVqicJIu1A/crazybluebud.jpg" alt="">

            </div>



            <div class="item",id="three">

              <img height="600px" src="http://botanika.wendys.cz/images/stories/110/O110_1.jpg" alt="">

            </div>

          </div>



          <!-- Left and right controls -->

          <a class="left carousel-control" href="#myCarousel" data-slide="prev">

            <span class="glyphicon glyphicon-chevron-left"></span>

            <span class="sr-only">Previous</span>

          </a>

          <a class="right carousel-control" href="#myCarousel" data-slide="next">

            <span class="glyphicon glyphicon-chevron-right"></span>

            <span class="sr-only">Next</span>

          </a>

        </div>

      </div>



























    </div>

  </div>

</div>









<!-- Container (Portfolio Section) -->

<div id="portfolio" class="container-fluid">

  <div class="row">

    <div class="col-sm-8">

      <h2>FINDING THe BEST ECSTASY DRUG REHAB CENTERS & PROGRAMS</h2><br>

      <p>Ecstasy – an illegal drug often referred to as this decade’s version of LSD – is, according to some of its users “the hottest drug going now.” It’s also one of the deadliest. While Ecstasy is most often associated with large open-to-the-public teen dance parties – or “raves” – federal officials say the drug also known as MDMA (and most commonly called “X” on the street) is so readily available that teens can easily buy it on the street or even on their school’s campus.



A so-called “club drug,” ecstasy continues to be used by millions of Americans across the country despite growing evidence of its potential harmful effects. For some reason, in fact, it has gained a deceptive reputation as a “safe” drug among users. This illegal drug, which has both stimulant and psychedelic properties, is often taken for the feelings of well-being, stimulation, as well as the distortions in time and sensory perceptions that it produces. MDMA first became popular in the “rave” and all-night party scene, but its use has now spread to a wide range of settings and demographic subgroups.</p><br>



    </div>

    <div class="col-sm-4">

      <div class="containers">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->

          <ol class="carousel-indicators">

            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

            <li data-target="#myCarousel" data-slide-to="1"></li>

            <li data-target="#myCarousel" data-slide-to="2"></li>

          </ol>



          <!-- Wrapper for slides -->

          <div class="carousel-inner",id="one">

            <div class="item active">

              <img  height="412px" src="http://club-drugs.net/wp-content/uploads/2012/08/ecstasy-variety.jpg" alt="">

            </div>



            <div class="item",id="two">

              <img src="https://tse4.mm.bing.net/th?id=OIP.SMj6bNVhViOM3hQmVKRdZwHaE9&pid=Api" alt="">

            </div>



            <div class="item",id="three">

              <img height="600px" src="https://tse1.mm.bing.net/th?id=OIP.ectbx8wYcqlTZ-2cQf8PDwHaE8&pid=Api" alt="">

            </div>

          </div>



          <!-- Left and right controls -->

          <a class="left carousel-control" href="#myCarousel" data-slide="prev">

            <span class="glyphicon glyphicon-chevron-left"></span>

            <span class="sr-only">Previous</span>

          </a>

          <a class="right carousel-control" href="#myCarousel" data-slide="next">

            <span class="glyphicon glyphicon-chevron-right"></span>

            <span class="sr-only">Next</span>

          </a>

        </div>

      </div>



  </div>

</div>



<div id="pricing" class="container-fluid">

  <div class="row">

    <div class="col-sm-8">

      <h2>FINDING THe BEST HEROIN DRUG REHAB CENTERS & PROGRAMS</h2><br>

      <p>The use of heroin, an extremely addictive drug, has become a serious problem in America. According to the National Institute on Drug Abuse, recent studies suggest a shift from injecting heroin to snorting or smoking because of increased purity and the misconception that these forms are safer. Heroin is processed from morphine, a naturally occurring substance extracted from the seedpod of the Asian poppy plant. Heroin usually appears as a white or brown powder. Street names for heroin include “smack,” “H,” “skag,” and “junk.” Other names may refer to types of heroin produced in a specific geographical area, such as “Mexican black tar.” And even though heroin abuse has trended downward during the past couple of years, its prevalence today is still higher than in the early 1990s. According to a recent National Household Survey on Drug Abuse, which may actually underestimate illicit heroin use, an estimated 2.4 million Americans had used heroin at some time in their lives. Heroin is, in fact, often cited as the primary drug of choice in drug abuse treatment admissions throughout the U.S. This widespread abuse of heroin, even in school-age youth, combined with its glamorization in music and films, its increased purity and decreased prices, points out how important it is to understand this drug – and the destruction it brings.</p><br>



    </div>

    <div class="col-sm-4">

      <div class="containers">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->

          <ol class="carousel-indicators">

            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

            <li data-target="#myCarousel" data-slide-to="1"></li>

            <li data-target="#myCarousel" data-slide-to="2"></li>

          </ol>



          <!-- Wrapper for slides -->

          <div class="carousel-inner",id="one">

            <div class="item active">

              <img  height="412px" src="http://www.thevaccinereaction.org/wp-content/uploads/2017/07/heroin-addict.jpg" alt="">

            </div>



            <div class="item",id="two">

              <img src="http://i.ndtvimg.com/i/2016-01/drugs-generic-650_650x400_81453432170.jpg" alt="">

            </div>



            <div class="item",id="three">

              <img height="500px" src="http://3.bp.blogspot.com/-4EJ-DrF8OyE/T9TicwRCobI/AAAAAAAADpQ/4JQXFj3e0Qc/s400/ava8498.jpg" alt="">

            </div>

          </div>



          <!-- Left and right controls -->

          <a class="left carousel-control" href="#myCarousel" data-slide="prev">

            <span class="glyphicon glyphicon-chevron-left"></span>

            <span class="sr-only">Previous</span>

          </a>

          <a class="right carousel-control" href="#myCarousel" data-slide="next">

            <span class="glyphicon glyphicon-chevron-right"></span>

            <span class="sr-only">Next</span>

          </a>

        </div>

      </div>



  </div>

</div>

<!-- Container (Contact Section) -->

<div id="contact" class="container-fluid">

    <div class="col-sm-8">

      <h2>FINDING THe BEST COCAINE DRUG REHAB CENTERS & PROGRAMS</h2><br>

      <p>Cocaine, considered by many the drug of the 1980s and ‘90s, is, surprisingly, one of the oldest known drugs. The pure chemical, cocaine hydrochloride, has been an abused substance for more than 100 years, and the indigenous people of places like Peru and Bolivia have been ingesting coca leaves, the source of cocaine, for thousands of years.



In the early 1900s, it became the main stimulant drug used in tonics and elixirs developed to treat a wide variety of illnesses. Today, cocaine is a Schedule II drug, meaning that it has high potential for abuse, but can be administered by a doctor for legitimate medical uses (such as a local anesthetic for some eye, ear, and throat surgeries). Putting cocaine in that historical context, however, does little to offset the consequences of its abuse. In 1985, an estimated 5.7 million Americans age 12 and over were chronic cocaine users. Less than 15 years later, that figure was down to 1.5 million – but it’s still a startling reminder of how cocaine abuse and addiction continue to cause pain and destruction throughout the U.S.



The National Institute on Drug Abuse notes that there are basically two chemical forms of cocaine: the hydrochloride salt and the “freebase” form of cocaine, generally known as “crack.” The hydrochloride salt, or powdered form of cocaine, dissolves in water and, when abused, can be taken intravenously (by vein) or intranasally (in the nose). Freebase refers to a compound that has not been neutralized by an acid to make the hydrochloride salt.</p>

    </div>

    <div class="col-sm-4">

      <div class="containers">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->

          <ol class="carousel-indicators">

            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

            <li data-target="#myCarousel" data-slide-to="1"></li>

            <li data-target="#myCarousel" data-slide-to="2"></li>

          </ol>



          <!-- Wrapper for slides -->

          <div class="carousel-inner",id="one">

            <div class="item active">

              <img  height="412px" src="http://www.preventionlane.org/wp-content/uploads/2015/09/cocaine-pulse-line-bag.jpg" alt="">

            </div>



            <div class="item",id="two">

              <img src="http://www.cocaineaddiction.com/wp-content/uploads/2014/06/cocaine2.jpg" alt="">

            </div>



            <div class="item",id="three">

              <img height="500px" src="http://www.specksteine.ch/images/argentinien-weiss_540.jpg" alt="">

            </div>

          </div>



          <!-- Left and right controls -->

          <a class="left carousel-control" href="#myCarousel" data-slide="prev">

            <span class="glyphicon glyphicon-chevron-left"></span>

            <span class="sr-only">Previous</span>

          </a>

          <a class="right carousel-control" href="#myCarousel" data-slide="next">

            <span class="glyphicon glyphicon-chevron-right"></span>

            <span class="sr-only">Next</span>

          </a>

        </div>

      </div>



  </div>



</div>



<!-- Add Google Maps -->



<!--

To use this code on your website, get a free API key from Google.

Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp

-->










<% include partials/footer %>


