<h1>ADD REHAB CENTER</h1>
<form action="/addRehab" method="POST">
    <input type="text" name="Name" placeholder="Enter Name">
    <input type="text" name="Location" placeholder="Enter Location">
   
    <input type="text" name="Contact" placeholder="Enter Contact Number">
     <input type="text" name="image" placeholder="Enter image URL">
   
    <button>Submit</button>
</form>



<form action="/viewRehab" method="GET">
    <div align = "Center">
        <h5>View all Rehab Centres</h5>
        <input type="submit" value="See Rehab">
    </div>
    