










<label><b>Add a new Doctor to the database:</b></label><a href="/adddoctor"><button >Add</button></a><br><br>
<label><b>Add a new Question to the Alcohol Assessment Quiz:</b></label><a href="/add_alQue"><button >Add Question </button></a><br><br>
<label><b>Add a new Question to the Heroin Assessment Quiz:</b></label><a href="/add_heQue"><button >Add Question</button></a><br><br>
<label><b>Add a new Question to the Cocaine Assessment Quiz:</b></label><a href="/add_coQue"><button >Add Question</button></a><br><br>
<label><b>Add a new Question to the Ecstasy Assessment Quiz:</b></label><a href="/add_ecQue"><button >Add Question</button></a><br><br>
<label><b>Add a new Question to the Marijuana Assessment Quiz:</b></label><a href="/add_maQue"><button >Add Question</button></a><br><br>
<label><b>Send Promotional Mail to Users:</b></label><a href="/sendemail"><button >Send Mssg</button></a><br><br>
<br>
<br>
<label><b>View the new Doctor is added or not:</b></label><a href="/viewdoctor"><button >View Quiz</button></a><br><br>
<label><b>View the question is added or not:</b></label><a href="/quizhome"><button >View Quiz</button></a><br><br>