<!DOCTYPE html>

<html>

<title>Online Counselling</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="css/enroll.css">

<head>



<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/486EF24B-BDC7-4645-AD7E-12D23473474B/main.js" charset="UTF-8"></script></head>

<body>



<div id="home" class="w3-container w3-teal">

  <h1>ENROLLMENT</h1>

</div>



<div class="w3-row-padding w3-margin-top">

  <div class="container w3-third w3-margin-right w3-margin-top">

    <div class="w3-card">

      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR514o-YjjUbJj-3b6YmQmSGBa9h4SjYuDXtcn6bQdVDoKzV8Zx6w" width="250px" height="300px"  style="width:100%">

      <p ><b>

      Name: Dr. Drew Pinsky<br>

      Specialization: Marijuana

      </b></p>

      <p><button class="btn">Enroll</button></p>

    </div>

  </div>



  <div class="container w3-third w3-margin-right w3-margin-top">

    <div class="w3-card">

      <img src="https://www.superreview.com.au/sites/superreview.com.au/files/styles/preset_383x347/public/field/image/Doctor-300.jpg?itok=kJNJCTUr" width="250px" height="300px"  style="width:100%">

      

        <p ><b>

            Name: Dr. Elizabeth Blackwell<br>

            Specialization: Marijuana

        </b></p>

   

      <button class="btn">Enroll</button>

    </div>

  </div>

 

  <div class="container w3-third w3-margin-right w3-margin-top">

    <div class="w3-card">

      <img src="https://content1.jdmagicbox.com/comp/mumbai/01/022p1150801/catalogue/prathibha-prabhakar-rehab-centre--goregaon-west-mumbai-physiotherapists-4l50hdk.jpg"  width="250px" height="300px" style="width:100%">

      

        <p ><b>

            Name: Dr. Dilip Nair<br>

            Specialization: Marijuana

        </b></p>

    

      <button class="btn">Enroll</button>

    </div>

  </div>

</div>



<div class="w3-row-padding ">

  <div class="container w3-third w3-margin-right w3-margin-top">

    <div class="w3-card">

      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuhtSZytzGGkfXaCTGfiayR-K5wEn9uVfTjf1gizy3PsmxX44-PA"  width="250px" height="300px" style="width:100%">

      

        <p ><b>

            Name: Dr. Claire Brown<br>

            Specialization: Marijuana

        </b></p>

    

      <button class="btn">Enroll</button>

    </div>

  </div>



  <div class="container w3-third w3-margin-right w3-margin-top">

    <div class="w3-card">

      <img src="https://taubmanlaw.net/wp-content/uploads/2015/11/Doctor.jpg"  width="250px" height="300px" style="width:100%">

      

        <p ><b>

            Name: Phil Andrews<br>

            Specialization: Marijuana

        </b></p>

    

      <button class="btn">Enroll</button>

    </div>

  </div>



  <div class="container w3-third w3-margin-right w3-margin-top">

    <div class="w3-card">

      <img src="https://www.burke.org/files/staff/auto-360-360/monte-outpatient-gitkind.jpg"  width="250px" height="300px" style="width:100%">

     

        <p ><b>

            Name: Dr. Will Kirby<br>

            Specialization: Marijuana

        </b></p>

    

      <button class="btn">Enroll</button>

    </div>

  </div>

</div>



<div class="w3-row-padding w3-margin-top">

  <div class="container w3-third w3-margin-right w3-margin-top">

    <div class="w3-card">

      <img src="https://s3-media3.fl.yelpcdn.com/bphoto/8PCpKyUwq5FIwZJl49fTtA/o.jpg"  width="250px" height="300px" style="width:100%">

      

        <p ><b>

            Name: Dr. Jessica Preston<br>

            Specialization: Marijuana

        </b></p>

    

      <button class="btn">Enroll</button>

    </div>

  </div>



  <div class="container w3-third w3-margin-right w3-margin-top">

    <div class="w3-card">

      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7K_18HRwGAuFBqakU-32JtJ4XfdKx9d9xLfU51kB7BMQ_2sxU"  width="250px" height="300px" style="width:100%">

      

        <p ><b>

            Name: Dr. Shaun Murphy<br>

            Specialization: Marijuana

        </b></p>

    

      <button class="btn">Enroll</button>

    </div>

  </div>



  <div class="container w3-third w3-margin-right w3-margin-top">

    <div class="w3-card">

      

        <img src="https://www.allinjuryrehab.com/wp-content/uploads/2018/08/Thuy-Nguyen.jpg"  width="250px" height="300px" style="width:100%">

     

        <p ><b>

            Name: Dr. Denise Fernandes<br>

            Specialization: Marijuana

        </b></p>

    

      <button class="btn">Enroll</button>

    </div>

  </div>

</div>



<div class="container">

  <p><br></p>

</div>



<footer class="w3-center w3-black w3-padding-64">

  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>

 

  <p>Powered by <a href="http://www.frcrce.ac.in/" title="W3.CSS" target="_blank" class="w3-hover-text-green">Agnelites</a></p>

</footer>



</body>

</html>

