
<form action="/forgot" method="POST">
    
 <label for="uname"><b>Enter registered Email:</b></label>

 <input type="text" placeholder="Enter Username" name="email" required><br>
 <button type="submit">Submit!</button>

</form>