


<% include partials/header %>






<!-- Header with full-height image -->

<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">

  <div class="w3-display-left w3-text-white" style="padding:48px">

    <span class="w3-jumbo w3-hide-small"><strong>HOPE </strong>is the catalyst to recovery.</span><br>

    <span class="w3-xxlarge w3-hide-large w3-hide-medium">HOPE is the catalyst to recovery.</span><br>

    <span class="w3-large">“Believe you can and you’re halfway there.”</span>

    <p><a href="#" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off"><i class="fa fa-th"> </i> ASSESS YOURSELF</a></p>

    <div align="right">

    	<p id="logs"><a href="/login" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off ">LOGIN</a></p>

    	<p id="logs"><a href="/signIn" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">SIGN UP</a></p>

  	</div>

  </div> 

  

</header>



<!-- rehab centres Section -->

<div class="w3-container" style="padding:128px 16px" id="about">

  <h2 class="w3-center">FEATURED REHAB CENTRES</h2>

  

  <div class="w3-row-padding w3-center" style="margin-top:64px">

    <div class="w3-quarter">

      <img src="http://www.ecu.edu/cs-dhs/ecuphysicians/customcf/LocationImages/ECUPhysicians_24.jpg" alt="" height="250px" width="250px">

      <p class="w3-large"> <strong>True Humaniversity Foundation</strong></p>

      <p>True Humaniversity Foundation is a fully Air Conditioned premium residential mind & body rehabilitation centre in Mumbai, India.True Humaniversity Foundation is committed to providing a professional environment where the clients are treated with care and concern.</p>

    </div>

    <div class="w3-quarter">

      <img src="http://www.jubileecentre.ca/wp-content/uploads/2012/08/nicesideshotjubilee1.jpg" alt="" height="250px" width="250px">

      <p class="w3-large"> <strong>Muktangan Rehabilitation Centre</strong></p>

      <p>We at Muktangan now believe that addiction as a disease affects every aspect of the afflicted person's life; at the physical and mental level, in relationships, and even causes the person to lose all sense of morality. The disease has a way of recurring and only a total change in attitude can bring any meaningful recovery. </p>

    </div>

    <div class="w3-quarter">

      <img src="http://www.sarvamhealth.com/img/slider/01.jpg" alt="" height="250px" width="250px">

      <p class="w3-large"> <strong>Sarvam Neuropsychiatric Center</strong></p>

      <p>We understand that each client is different. Hence we do not have a "One size fits all" approach. All our treatment programmes are customised according to requirements of each client. SARVAM is the first and exclusive centre to offer integrated, holistic care using cutting-edge tools to improve outcomes.</p>

    </div>

    <div class="w3-quarter">

      <img src="https://s3-ap-southeast-1.amazonaws.com/rehabpath-deaddictioncentres/wp-content/uploads/2012/07/07210110/05.jpg" alt="" height="250px" width="250px">

      <p class="w3-large"> <strong>Navajeeva Kendram</strong></p>

      <p>Navajeeva Kendram is a treatment and rehabilitation center started on 1989 as a joint project of Ranny- Nilackal Diocese of Marthoma Syrian Church & M.T.E.A registered under Krupa Samithy P-761/98 and has a capacity of 15 families. Now Navajeeva Kendram fully concentrates on the awareness and treatment programs for alcoholics and drug addicts.</p>

    </div>

  </div>

</div>



<!-- Promo Section - "We provide info" -->

<div class="w3-container w3-light-grey" style="padding:128px 16px">

  <div class="w3-row-padding">

    <div class="w3-col m6">

      <h3>We provide information, resources, and treatment for people battling addiction and related conditions.</h3>

      <p>Our mission is to equip patients and families with the best information, resources and tools to overcome addiction and pursue lifelong recovery. We are here to help you or your loved one every step of the way.</p>

      <p><a href="#work" class="w3-button w3-black"><i class="fa fa-th"> </i> ASSESS YOURSELF</a></p>

    </div>

    <div align="right" class="w3-col m6">

      <img class="w3-image w3-round-large" src="http://goingdeepmag.com/wp-content/uploads/Drug-Addiction-or-Drug-Dependency-Is-There-a-Cure.jpg" alt="Broken Image" width="500" height="300">

    </div>

  </div>

</div>



<!-- recovery section Section -->

<div class="w3-container" style="padding:128px 16px" id="team">

  <h3 class="w3-center">RECOVERY STORIES</h3>

  <p class="w3-center w3-large">"We must accept finite disappointment, but never lose infinite hope."</p>

  <div class="w3-row-padding" style="margin-top:64px">

    <div class="w3-col l3 m6 w3-margin-bottom">

      <div class="w3-card"> 

        <img src="https://cdn1.medicalnewstoday.com/content/images/articles/320/320137/smiling-middle-aged-woman.jpg" height="250px" alt="broken" style="width:100%">

        <div class="w3-container">

          <h3>Susan Broderick</h3>

          <p class="w3-opacity">Susan Broderick Recovers From Alcoholism, Becomes Advocate</p>

          <p><button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> View</button></p>

          

        </div>

      </div>

    </div>

    <div class="w3-col l3 m6 w3-margin-bottom">

      <div class="w3-card">

        <img src="https://limnlcdn.akamaized.net/Assets/Images_Upload/2018/06/12/Sport-Bitterzoet-Patrick-Delait-onine.jpg" height="250px" alt="broken" style="width:100%">

        <div class="w3-container">

          <h3>Russel Whitehead</h3>

          <p class="w3-opacity">Combat Veteran Turns Life Around After Battling Alcohol Abuse</p>

          <p><button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> View</button></p>

        </div>

      </div>

    </div>

    <div class="w3-col l3 m6 w3-margin-bottom">

      <div class="w3-card">

        <img src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&h=350" height="250px" alt="broken" style="width:100%">

        <div class="w3-container">

          <h3>Dan Renaud</h3>

          <p class="w3-opacity">Dan Renaud Gives Back to Youth After Entering Recovery</p>

          <p><button onclick="document.getElementById('id03').style.display='block'" class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> View</button></p>

        </div>

      </div>

    </div>

    <div class="w3-col l3 m6 w3-margin-bottom">

      <div class="w3-card">

        <img src="https://ak4.picdn.net/shutterstock/videos/7209424/thumb/1.jpg" height="250px" alt="broken" style="width:100%">

        <div class="w3-container">

          <h3>Madeleine Ludwig</h3>

          <p class="w3-opacity">Young Adult Rebuilds Her Life After Adolescence in Addiction</p>

          <p><button onclick="document.getElementById('id04').style.display='block'" class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> View</button></p>

        </div>

      </div>

    </div>

  </div>

 </div>



<!--modal content-->

<div id="id01" class="w3-modal">

  <div class="w3-modal-content w3-card-4">

    <header class="w3-container w3-teal"> 

      <span onclick="document.getElementById('id01').style.display='none'" 

      class="w3-button w3-display-topright">&times;</span>

      <h2>Susan Broderick</h2>

    </header>

    <div class="w3-container">

      <p>&emsp; If alcohol was standing in the way of your dreams, would you let it take over your life? Susan Broderick didn’t, and now she’s living proof of the power of positivity and seeing every challenge as an opportunity during her long-term recovery.</p>

      <p>&emsp; Susan eventually did make her dream a reality; she’s now the director of the National Juvenile Justice Prosecution Center at Georgetown University. But alcohol almost derailed her goals.



        “Alcohol was always a part of my life starting from when I was a child,” said Broderick. “I’m from an Irish-Catholic family. We have alcoholics all through our family tree.”</p>

      <p>&emsp; “I didn’t think I could live without alcohol, but yet here were these people, and they were so happy being sober.”</p>

      <p>&emsp; “It’s important to focus on resilience. There’s great potential for good things to come out of very difficult situations.”</p>

      <p>&emsp; Since starting her long-term recovery, Susan Broderick realized her dream of moving to the District of Columbia and working as a juvenile justice policy advocate and public speaker.



        “I turned 40 in 2003. Two years into my sobriety, I decided it was time to move to D.C. and follow my dream.”

        

        She currently heads research at Georgetown University’s National Juvenile Justice Prosecution Center, working with drug- and alcohol-related crimes and developing training for prosecutors to provide an opportunity for young offenders to change their lives.</p>

    </div>

    

  </div>

</div>



<div id="id02" class="w3-modal">

  <div class="w3-modal-content w3-card-4">

    <header class="w3-container w3-teal"> 

      <span onclick="document.getElementById('id02').style.display='none'" 

      class="w3-button w3-display-topright">&times;</span>

      <h2>Russel Whitehead</h2>

    </header>

    <div class="w3-container">

      <p>&emsp; In 2006, Russell Whitehead realized a lifelong goal when he joined the military. But a cocaine-fueled night followed by a failed drug test resulted in his discharge from the Army. After receiving multiple DUI charges, Russell sought treatment. He has been sober ever since.</p>

      <p>&emsp; He would go on to fulfill his childhood dream, joining the Army at age 20. After a troubled youth in northern Oklahoma, the military gave him structure. He forged friendships, learned valuable life lessons and saved innocent civilians during combat.



        But alcohol abuse and cocaine use cut short a promising career. He was kicked out of the military for failing a drug test. Afterward, fueled by the painful memories of his past, he routinely engaged in heavy drinking. He was also charged with driving under the influence multiple times.

        

        Just before hitting rock bottom, Russell entered a treatment program that catered specifically to veterans. And it saved his life.

        </p>

      <p>

        &emsp; “I’m in a much better place now,” he said. “I’m a changed man.”</p>

      <p>“I just encourage them and tell them that it’s okay to ask for help. Sometimes it just helps to hear it from a veteran, someone who has gone through similar experiences.”</p>

    </div>

    

  </div>

</div>

<div id="id03" class="w3-modal">

  <div class="w3-modal-content w3-card-4">

    <header class="w3-container w3-teal"> 

      <span onclick="document.getElementById('id03').style.display='none'" 

      class="w3-button w3-display-topright">&times;</span>

      <h2>Dan Renaud</h2>

    </header>

    <div class="w3-container">

      <p>&emsp; After Dan Renaud overcame addiction as a young adult, a friend in recovery asked him to help her son. He didn’t know how to help the teen or that he would spend the next 30 years working with youth.</p>

      <p>&emsp; His high school sweetheart left him because of his drinking. His family was tired of his conduct.



        Dan had lost friends. He’d spent all of his money on booze. If he was kicked out of the military, a judge in his home state of Georgia was ready to send him to prison because he had a history of arrests when he was home on leave.

        

        “I knew if they let me out of the jail, I was going to drink again,” Dan told DrugRehab.com. “And I knew that they couldn’t keep me because I hadn’t done anything terribly wrong. So I thought about killing myself.”</p>

      

      <p>&emsp; “Getting sober at 21-years-old is a lot different than getting sober at 50,” Dan said. “A lot of it has to do with maturity. A lot of it has to do with where you are in life. I think one of the reasons I’ve always worked well with adolescents is not that I’m some great guy, but they’re really the only ones I understand. I was that person when I got sober.”</p>

      <p>&emsp; “I went from being the guy they wanted to kick out of the military to being sailor of the quarter and nominated for sailor of the year”</p>

      

    </div>

    

  </div>

</div>

<div id="id04" class="w3-modal">

  <div class="w3-modal-content w3-card-4">

    <header class="w3-container w3-teal"> 

      <span onclick="document.getElementById('id04').style.display='none'" 

      class="w3-button w3-display-topright">&times;</span>

      <h2>Madeleine Ludwig</h2>

    </header>

    <div class="w3-container">

      <p>&emsp; Madeleine Ludwig wasn’t thinking about hitting the bars on her 21st birthday. She didn’t need alcohol to celebrate. Madeleine spent her entire adolescence searching for happiness in the bottom of a bottle of booze or pills.</p>

      <p>&emsp; “My story is brutally honest,” Madeleine said. “My lows were pretty low.”



        They were so low that Madeleine didn’t want to talk about them for months. She didn’t want to think about them. But she talks about them today, and it helps her overcome the shame felt. It also helps others who relate to her experiences.

        

        That’s why Madeleine leads group therapy every week. It’s why she wants to become a certified substance abuse counselor. She’s confident that she can make a difference in someone’s life.

      </p>

      <p>&emsp; Madeleine never felt like she fit in. A self-described misfit, she struggled to connect with others. Chronic migraines didn’t help. A doctor prescribed Vicodin, a drug that contains an addictive painkiller called hydrocodone, when she was 13. “I really wanted to fit in, and I was already in pain,” Madeleine said. “Here was something that could make me feel better, and I thought I was making friends. I was really just being taken advantage of.”</p>

      <p>&emsp; “I would be dead right now if I didn’t receive medically assisted treatment. This is something that has dramatically changed my life.”</p>

      

    </div>

    

  </div>

</div>



<script>

// Get the modal

var modal1 = document.getElementById('id01');

var modal2 = document.getElementById('id02');

var modal3 = document.getElementById('id03');

var modal4 = document.getElementById('id04');

// When the user clicks anywhere outside of the modal, close it

window.onclick = function(event) {

    if (event.target == (modal1 || modal2 || modal3 || modal4) {

        modal.style.display = "none";

    }



}

</script>  





<!-- Promo Section "Statistics" -->

<div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">

  <div class="w3-quarter">

    <span class="w3-xxlarge">14+</span>

    <br>Active Cities

  </div>

  <div class="w3-quarter">

    <span class="w3-xxlarge">30+</span>

    <br>Doctors And Counsellors

  </div>

  <div class="w3-quarter">

    <span class="w3-xxlarge">89+</span>

    <br>Happy Clients

  </div>

  <div class="w3-quarter">

    <span class="w3-xxlarge">10+</span>

    <br>Rehab Centers

  </div>

</div>







<!-- Contact Section -->

<div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">

  <h3 class="w3-center">CONTACT</h3>

  <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>

  <div class="w3-row-padding" style="margin-top:64px">

    <div class="w3-half">

      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Mumbai, India</p>

      <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +91 9838239773</p>

      <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>

      <br>

      <form action="/action_page.php" target="_blank">

        <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>

        <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>

        <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>

        <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>

        <p>

          <button class="w3-button w3-black" type="submit">

            <i class="fa fa-paper-plane"></i> SEND MESSAGE

          </button>

        </p>

      </form>

    </div>

    <div class="w3-half">

      <!-- Add Google Maps -->

      <div id="googleMap" class="w3-greyscale-max" style="width:100%;height:510px;"></div>

    </div>

  </div>

</div>




 

<!-- Add Google Maps -->


<script>

function myMap()

{

  myCenter=new google.maps.LatLng(19.0760, 72.8777);

  var mapOptions= {

    center:myCenter,

    zoom:12, scrollwheel: false, draggable: false,

    mapTypeId:google.maps.MapTypeId.ROADMAP

  };

  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);



  var marker = new google.maps.Marker({

    position: myCenter,

  });

  marker.setMap(map);

}



// Modal Image Gallery

function onClick(element) {Modal

  document.getElementById("img01").src = element.src;

  document.getElementById("modal01").style.display = "block";

  var captionText = document.getElementById("caption");

  captionText.innerHTML = element.alt;

}





// Toggle between showing and hiding the sidebar when clicking the menu icon

var mySidebar = document.getElementById("mySidebar");



function w3_open() {

    if (mySidebar.style.display === 'block') {

        mySidebar.style.display = 'none';

    } else {

        mySidebar.style.display = 'block';

    }

}



// Close the sidebar with the close button

function w3_close() {

    mySidebar.style.display = "none";

}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXuMMp1Z5XGHDi_cfbNrtgSQ_1XtkZZLQ&callback=myMap"></script>



<% include partials/footer %>

