<h4>Take as Assessment now to check your Alcohol Addcition level:</h4><a href="/alcoholq"><button >Take Assesment</button></a><br>
<h4>Take as Assessment now to check your Marijuana Addcition level:</h4><a href="/marijuanaq"><button >Take Assesment</button></a><br>
<h4>Take as Assessment now to check your Heroin Addcition level:</h4><a href="/heroinq"><button >Take Assesment</button></a><br>
<h4>Take as Assessment now to check your Cocaine Addcition level:</h4><a href="/cocaineq"><button >Take Assesment</button></a><br>
<h4>Take as Assessment now to check your Ecstasy Addcition level:</h4><a href="/ecstasyq"><button >Take Assesment</button></a><br>
<br>
<br>
<a href="/result"><button >View Result!</button></a><br>