<!DOCTYPE html>

<html lang="en">

<head>

  

  <title>Treatment</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <link rel="stylesheet" href="css/treatment.css">

</head>

<body >



    <div class="w3-top">

        <div class="w3-bar w3-white w3-card" id="myNavbar">

          <a href="../" class="w3-bar-item w3-button w3-wide">DrugRehab</a>

          <!-- Right-sided navbar links -->

          <div class="w3-right w3-hide-small">

            

                  <a href="/addict" class="w3-bar-item w3-button"> ADDICTION</a>

                  <a href="/treatment" class="w3-bar-item w3-button"> TREATMENT</a>

                  <a href="/aboutUs" class="w3-bar-item w3-button"><i class="fa fa-user"></i> ABOUT US</a>

                  <a href="../#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT US</a>

          </div>

          <!-- Hide right-floated links on small screens and replace them with a menu icon -->

      

          <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">

            <i class="fa fa-bars"></i>

          </a>

        </div>

      </div>



<div class="container text-center">

  <h1>Treatment</h1>

  <p><strong>We are Happy to help</strong></p>

  <p>We have created an extensive blend of Testing and Treatment Program on this platform </p>

  <br>

  <div class="row">

    <div class="col-sm-4">

      <p class="text-center"><strong>Online Assessment</strong></p><br>

      <a href="#demo" >

        <img src="http://1635225677.rsc.cdn77.org/images/online-assessments-indian-education.jpg" class=" person" alt="Random Name" width="255" height="255">

      </a>

      <div id="demo" class="text-centre boxtext"style="color: white;font-family:Arial" >

        <p>Find out the level of Addiction </p>

        <p>Contains a questionaire crafted by Experts</p>

        <p>Get a Full Assessment Report </p>

        

        <br>

        <br>

        <a href="/quizhome"><button class="button" style="vertical-align:middle ;background-color:#d02c0f"><span>Start </span></button></a>



      </div>



    </div>

	 <div class="col-sm-4">

      <p class="text-center"><strong>Online Counseling</strong></p><br>

      

        <img src="http://mindguruindia.com/wp-content/uploads/2017/05/RHS-Banner-Online-Counselling.gif" class="person" style="border-color:#3fc4de" alt="Random Name" width="255" height="255">

      

      <div id="demo2" class="text-centre boxtext" style="color: white;font-family:Arial;background-color:#3fc4de">

          

        <p>Get in touch with our experienced doctors</p>

        <p>Get prescrption and detailed diagnosis</p>

        <p>Customised treatment programs</p>

        

        <br>

        <br>

        <a href="/viewdoctor"><button class="button" style="vertical-align:middle ;background-color:#0f687a"><span>Enroll </span></button></a>



      </div>



    </div>

	 <div class="col-sm-4">

      <p class="text-center"><strong>Locate Nearest Rehab</strong></p><br>

      <a href="#demo" >

        <img src="https://addictionblog.org/cherrycake/wp-content/uploads/2016/10/Rehab-for-heroin-2.jpg" class="person" style="right:2.9%;  border-color:#727272" alt="Random Name" width="255" height="255">

      </a>

      <div id="demo3" class="text-centre boxtext" style=" color:white;font-family:Arial;background-color:#727272" >

        <p>Enter your location</p>

        <p>Get the best rehab centres near you </p>

        <p>Contacts provided</p>

        

        <br>

        <br>

       <a href="/viewRehab"> <button class="button" style="vertical-align:middle ;background-color:#3a3838"><span>Search </span></button></a>



      </div>



    </div>

   

  

   

   </div>
</div>

<% include partials/footer %>
